html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
html,
body {
	height: 100%;
}
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
.content {
	flex: 1 0 auto;
}
.footer {
	flex: 0 0 auto;
}
a {
  display: inline-block;
  text-decoration: none;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
h1,
h4,
p {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Quicksand', sans-serif;

}
.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}
.breadcrumbs {
 
  &__list {
    li {
      display: inline-block;
      position: relative;
      & + li {
        padding-left: 24px;
        &::before {
          content: '/';
          position: absolute;
          left: 7px;
          color: white;
        }
      }
      &:last-child {
        a,
        span {
          color: #bfcad7;
        }
      }
    }
    a {
      color: white;
    }
  }
}