@import 'vars';
@import 'global';



.header__top {
  background-color: $top;
}
.header__top-inner {
  display: flex;
  justify-content: space-between;
  height: 90px;
  align-items: center;
}

.header__btn-seller {
  padding: 4px;
  width: 140px;
  border-radius: 14px;
  text-align: center;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  background-color: $bottom;
  line-height: 28px;
  margin-right: 405px;
}

.menu {
  display: flex;
  height: 80px;
  align-items: center;
}
.menu__list {
  margin-right: 285px;
  li {
    display: inline-block;
    & + li {
      margin-left: 27px;
    }
  }
  a {
    color: #000000;
    font-size: 15px;
    font-weight: 500;
    
  }
}
.form__input {
  width: 360px;
  position: relative;
  input {
    width: 100%;
    height: 44px;
    border-width: 1px;
    border-color: rgb(217, 223, 229);
    border-style: solid;
    border-radius: 22px;
    padding-left: 17px;
    padding-right: 75px;
    outline: none;
    &::placeholder {
      color: rgb(137, 143, 150);
      font-size: 15px;
      
    }
  }
  button {
    position: absolute;
    border: none;
    background-color: $bottom;
    right: 1px;
    top: 1px;
    height: 44px;
    width: 70px;
    border-radius: 22px;
  }
}
.box {
  background-color: $bg;
}
.header__title {
  text-align: center;
  color: #f3f3f8;
  position: relative;
  &-inner {
    padding-top: 180px;
    padding-bottom: 250px;
  }
  &-caption {
    font-size: 60px;
    font-weight: 400;
    margin-bottom: 20px;
  }
  &-slogan {
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 50px;
  }
  &-text {
    font-size: 20px;
    margin-bottom: 60px;
  }
  &-btn {
    padding: 20px 30px;
    border-radius: 10px;
    border: 1px solid white;
    background-color: transparent;
    color: wheat;
    cursor: pointer;
  }
}
.header__title-btn + .header__title-btn {
  margin-left: 30px;
}

.form__categories {
  width: 100%;
  background-color: white;
  height: 130px;
  position: absolute;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
  bottom: -65px;
  border-radius: 10px;
  form {
    padding: 40px;
    input {
      width: 50%;
      height: 53px;
      padding-left: 28px;
      padding-right: 10px;
      padding-top: 4px;
      border: 1px solid #dcdcdc;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      &::placeholder {
        font-size: 20px;
        color: #6c6c6c;
      }
    }
    select {
      margin-left: -5px;
      height: 53px;
      border: 1px solid #dcdcdc;
      padding-left: 20px;
      padding-right: 72px;
      font-size: 20px;
      color: #6c6c6c;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
    }
    .btn-search {
      color: white;
      padding: 17px 67px;
      background-color: $bottom;
      border-radius: 10px;
      margin-left: 30px;
    }
  }
}
.features {
  margin-top: 185px;
  .features__wrap {
    display: flex;
    justify-content: space-between;
    text-align: center;
    .features__box {
      max-width: 360px;
      padding: 40px 35px;
      cursor: pointer;
      text-align: center;
      img {
        padding-bottom: 32px;
      }
      h4 {
        font-size: 24px;
        font-weight: 500;
        padding-bottom: 32px;
      }
      p {
        font-size: 16px;
        font-weight: 400;
        line-height: 30px;
        color: #555555;
      }
    }
    .features__box:hover {
      box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
      border-radius: 10px;
    }
  }
}
 
.products {
  margin-top: 122px;
  background-color: #eff1f5;
  overflow: hidden;
  .title {
    margin-top: 122px;
    background-color: white;
    padding: 40px 0px 40px 30px;
    border-radius: 10px;
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
    font-size: 30px;
    line-height: 28px;
    font-weight: 500;
  }
  .products__slider {
    margin-top: 50px;
    margin-bottom: 120px;
    border-radius: 5px;
    box-shadow: 0px 2px 30px 0px rgba(147, 155, 168, 0.1);
      &-wrap {
        display: flex;
        justify-content: space-between;
      }
      &-img {
        background-image: url(../images/product-item-big.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        min-width: 555px;
        min-height: 450px;
      }
      &-text {
        padding: 50px 60px 23px 50px;
        background-color: white;
        .text-title {
          font-size: 24px;
          line-height: 7px;
          font-weight: 500;
          padding-bottom: 20px;
        }
        .text-author {
          display: flex;
          align-items: center;
          .author-link {
            display: flex;
            align-items: center;
            margin-right: 22px;
            .author-logo {
              background-image: url(../images/icons/author-log.png);
              background-repeat: no-repeat;
              background-size: cover;
              background-position: center;
              width: 30px;
              height: 30px;
              display: inline-block;
              margin-right: 10px;
            }
            .author-name {
              font-size: 15px;
              font-weight: 400;
              line-height: 30px;
              color: black;
            }
            .products-logo {
              background-image: url(../images/icons/products-logo.png);
              background-repeat: no-repeat;
              background-size: cover;
              background-position: center;
              width: 16px;
              height: 16px;
              display: inline-block;
              margin-right: 10px;
            }
          }
        }
        .text-description {
          margin-top: 35px;
          color: #4e5760;
          font-weight: 400;
          font-size: 16px;
          line-height: 30px;
        }
        .text-link {
          margin-top: 45px;
          padding: 10px 15px;
          color: #868c96;
          background-color: #f1f3f6;
          font-size: 15px;
          border-radius: 20px;
        }
        .text-link + .text-link {
          margin-left: 15px;
        }
      }
  }
}

.slider__week button {
  position: absolute;
  background-color: #7347c1;
  color: #fff;
  padding: 15px 0px;
  cursor: pointer;
  top: -77px;
  border: none;
  outline: none;
  font-size: 14px;
}
.slider__week button.slick-prev {
  right: 74px;
  border-radius: 23px 0 0 23px;
  padding-left: 25px;
  padding-right: 25px;
  background-image: url(../images/icons/lnr-chevron-left.svg);
  background-repeat: no-repeat;
  background-position: center;

}
.slider__week button.slick-next {
  right: 30px;
  border-radius: 0 23px 23px 0;
  padding-right: 25px;
  padding-left: 25px;
  background-image: url(../images/icons/lnr-chevron-right.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.new__products {
  overflow: hidden;
  background-color: #f6f7fb;
  &-title {
    margin-top: 120px;
    padding: 40px 0px 40px 30px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
    font-size: 30px;
    line-height: 28px;
    font-weight: 500;
  }
  &-btn {
    margin-top: 30px;
    padding: 30px 0px 30px 30px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
    .btn-sort {
      margin-top: 30px;
    }
    button {
      padding: 10px 15px;
      color: #868c96;
      background-color: #f1f3f6;
      font-size: 15px;
      border-radius: 20px;
      border: none;
      cursor: pointer;
      &.mixitup-control-active {
        color: white;
        background-color: $bottom;
      }
    }
    button + button {
      margin-left: 10px;
    }
  }
}

.new__products-inner {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
  .new__products-box {
    max-width: 362px;
    width: 100%;
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    margin-bottom: 30px;
    .box__images {
      height: 230px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      display: block;
      border-top-left-radius: 7px;
      border-top-right-radius: 7px;
    }
    .box__images:hover .box__images-link {
      opacity: 1;
    }
    .box__images-link {
      width: 100%;
      height: 100%;
      background-image: -webkit-gradient(linear, right top, left top, from(rgba(5, 115, 237, 0.8)), to(rgba(115, 71, 194, 0.8)));
      background-image: -o-linear-gradient(right, rgba(5, 115, 237, 0.8) 0%, rgba(115, 71, 194, 0.8) 100%);
      background-image: linear-gradient(to left, rgba(5, 115, 237, 0.8) 0%, rgba(115, 71, 194, 0.8) 100%);
      opacity: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.3s;
    } 
    .box__images-link a {
      color: #fff;
      border: 1px solid #fff;
      margin-left: 5px;
      margin-right: 5px;
      padding: 13px 30px;
      border-radius: 23px;
      transition: all 0.5s;
    }
    .box__images-link a:hover {
      background-color: white;
      color: $bottom;
    }
    
    .box__text {
      padding: 33px 35px 39px 32px;
      border-bottom: 1px solid #ececec;
      &-title {
        font-size: 20px;
        line-height: 7px;
        font-weight: 500;
        padding-bottom: 20px;
      }
      &-author {
        display: flex;
        align-items: center;
        .author-link {
          display: flex;
          align-items: center;
          margin-right: 22px;
          margin-bottom: 33px;
          .author-logo {
            background-image: url(../images/icons/author-log.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            width: 30px;
            height: 30px;
            display: inline-block;
            margin-right: 10px;
          }
          .author-name {
            font-size: 15px;
            font-weight: 400;
            line-height: 30px;
            color: black;
          }
          .products-logo {
            background-repeat: no-repeat;
            background-size: auto;
            background-position: center;
            width: 16px;
            height: 17px;
            display: inline-block;
            margin-right: 10px;
          }
        }
      }
      &-description {
        color: #555555;
        font-size: 16px;
        line-height: 30px;
      }
    }
    .box__options {
      padding: 17px 32px;
      display: flex;
      justify-content: space-between;
      &-left {
        display: flex;
        justify-content: flex-start;
        max-width: 200px;
        width: 100%;
        align-items: center;
      }
      &-price {
        padding: 10px 15px;
        color: $bottom;
        background-color: #e6f1fd;
        font-size: 15px;
        font-weight: 500;
        border-radius: 20px;
        margin-right: 10px;
      }
      &-heart {
        display: flex;
        align-items: center;
        margin-right: 10px;
        span {
          margin-left: 7px;
        }
      }
      &-right {
        display: flex;
        align-items: center;
      }
      &-cart {
        display: flex;
        align-items: center;
        span {
          margin-left: 7px;
        }
      }
    }
  }

.products-btn {
  text-align: center;
  margin-bottom: 120px;
  button {
    margin: 20px 5px 0px 0px;
    padding: 23px 33px;
    background-color: $bottom;
    color: white;
    font-size: 16px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
  } 
} 

.followers {
  background: #eff1f5;
  overflow: hidden;
  .title {
    margin-top: 122px;
    background-color: white;
    padding: 40px 0px 40px 30px;
    border-radius: 10px;
    font-size: 30px;
    line-height: 28px;
    font-weight: 500;
  }
  .followers__slider {
    margin-top: 53px;
    margin-bottom: 120px;
    &-wrap {
      display: flex;
    }
  }
}
.followers__slider-wrap button {
  position: absolute;
  background-color: #7347c1;
  color: #fff;
  padding: 15px 0px;
  cursor: pointer;
  top: -117px;
  border: none;
  outline: none;
  font-size: 14px;
}
.followers__slider-wrap button.slick-prev {
  right: 74px;
  border-radius: 23px 0 0 23px;
  padding-left: 25px;
  padding-right: 25px;
  background-image: url(../images/icons/lnr-chevron-left.svg);
  background-repeat: no-repeat;
  background-position: center;

}
.followers__slider-wrap button.slick-next {
  right: 30px;
  border-radius: 0 23px 23px 0;
  padding-right: 25px;
  padding-left: 25px;
  background-image: url(../images/icons/lnr-chevron-right.svg);
  background-repeat: no-repeat;
  background-position: center;
}

//start advanteges

.advanteges {
  background-color: #212225;
  &__inner {
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: space-between;
    .advanteges__box {
      display: flex;
      flex-direction: column;
      align-items: center;
      &-img {
        margin-bottom: 56px;
      }
      &-numbers {
        font-size: 36px;
        margin-bottom: 14px;
      }
      &-text {
        font-size: 18px;
        color: white;
      }
    }
    .numbers-orange {
      color: #feb71d;
    }
    .numbers-blue {
      color: #58c9e9;
    }
    .numbers-green {
      color: #77de51;
    }
    .numbers-red {
      color: #ff6a6d;
    }
  }
}

//end advanteges
//start choose

.choose {
  padding: 120px 0px 120px;
  &__title {
    margin-bottom: 35px;
    text-align: center;
    font-size: 36px;
    line-height: 28px;
    font-weight: 500;
    span {
      color: $bottom;
    }
  }
  &__text {
    text-align: center;
    margin-bottom: 65px;
    font-size: 16px;
    line-height: 30px;
  }
  &__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__box {
    max-width: 365px;
    width: 100%;
    margin-bottom: 22px;
    padding: 20px 35px 62px 35px;
    border-radius: 4px;
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
    &-number {
      font-size: 48px;
      color:rgba(92, 135, 248, 0.25);
      text-align: left;
    }
    &-wrap {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
    &-img {
      margin-bottom: 40px;
    }
    &-title {
      font-size: 24px;
      font-weight: 500;
      margin-bottom: 25px;
    }
    &-text {
      font-size: 16px;
      color: #555555;
    }
  }
}

//end choose

//start opportunities

.opportunities__inner {
  display: flex;
  flex-wrap: wrap;
}
.opportunities__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 10px ;
  color: white;
  &-img {
    margin-bottom: 44px;
  }
  &-title {
    font-size: 36px;
    margin-bottom: 35px;
  }
  &-text {
    text-align: center;
    max-width: 586px;
    font-size: 16px;
    margin-bottom: 48px;
  }
  &-link {
    padding: 20px 27px;
    background-color: white;
    border-radius: 40px;
    transition: transform .2s;
  }
  &-link:hover {
    transform: scale(1.2);
  }
}
.opportunities-1 {
  width: 50%;
  background-image: url(../images/opportunities/BG__op-1.png);
  background-color: $bottom;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
}
.opportunities-2 {
  width: 50%;
  background-image: url(../images/opportunities/BG__op-2.png);
  background-color: #7347c1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.opportunities-1 .opportunities__box-link  {
  color: $bottom;
}
.opportunities-2 .opportunities__box-link  {
  color: #7347c1;
}

//end opportunities

//start reviews

.reviews {
  padding: 120px 0px;
  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__title {
    margin-bottom: 35px;
    text-align: center;
    font-size: 36px;
    line-height: 28px;
    font-weight: 500;
    span {
      color: $bottom;
    }
  }
  &__text {
    max-width: 690px;
    text-align: center;
    margin-bottom: 65px;
    font-size: 16px;
    line-height: 30px;
  }
}
.reviews__box {
  max-width: 555px;
  padding: 50px 40px;
  margin-top: 15px;
  margin-bottom: 15px;
  border-left: 2px solid $bottom;
  box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
}
.box__users-inner {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.box__users-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.users__info-logo {
  width: 57px;
  height: 51px;
}
.users__info-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 18px;
  .users__info-name {
    margin-bottom: 14px;
    font-size: 20px;
    font-weight: 500;
  }
}
.box__users-post {
  line-height: 30px;
}
.reviews__btn {
  margin-top: 60px;
  text-align: center;
  &-text {
    padding: 23px 33px;
    background-color: $bottom;
    color: white;
    font-size: 16px;
    border-radius: 20px;
    cursor: pointer;
  }
}


// end reviews

//start news

.news {
  padding: 120px 0px;
  background-color: #eff1f5;
  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__title {
    margin-bottom: 35px;
    text-align: center;
    font-size: 36px;
    line-height: 28px;
    font-weight: 500;
    span {
      color: $bottom;
    }
  }
  &__text {
    max-width: 690px;
    text-align: center;
    margin-bottom: 65px;
    font-size: 16px;
    line-height: 30px;
  }
}
.news__blocks-wrap {
  display: flex;
  justify-content: space-between;
}
.news__box {
  max-width: 362px;
  width: 100%;
  border-radius: 15px;
  &-images {
    height: 230px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  &-inner {
    background-color: white;
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
  }
  &-text {
    padding: 32px 30px;
    border-bottom: 1px solid #ececec;
    .text-title {
      font-size: 20px;
      line-height: 7px;
      font-weight: 500;
      padding-bottom: 32px;
    }
    .text-description {
      color: #555555;
      font-size: 16px;
      line-height: 30px;
    }
  }
  &-options {
    padding: 10px 0px 10px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #7e7e7e;
    .options__left {
      max-width: 180px;
      width: 100%;
      padding: 10px 0px 10px 0px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-right: 1px solid #ececec;
      span {
        margin-left: 10px;
      }
    }
    .options__right {
      max-width: 180px;
      width: 100%;
      padding: 10px 0px 10px 0px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      &-bubble {
        display: flex;
        align-items: center;
        span {
          margin-left: 10px;
        }
      }
      &-eye {
        display: flex;
        align-items: center;
        span {
          margin-left: 10px;
        }
      }
    }
  }
}

//end news 

//start conditions

.conditions__box {
  display: flex;
  &-left {
    width: 50%;
    padding: 63px 0px 63px 0px;
    text-align: center;
    border-right: 1px solid #ececec;
  }
  &-right {
    width: 50%;
    padding: 63px 0px 63px 0px;
    text-align: center;
  }
  &-text {
    margin-top: 35px;
    font-size: 24px;
    line-height: 7px;
    span {
      color: $bottom;
    }
  }
}

//end conditions
//start ready

.ready {
  background-color: $bottom;
  background: linear-gradient(270deg, #0d3ef2 0%, #4030c9 46%, #7221a0 100%);
  opacity: 0.902;
  color: white;
  &__text {
    padding-top: 110px;
    text-align: center;
    h4 {
      font-size: 36px;
      font-weight: 400;
    }
    p {
      margin-top: 30px;
      font-size: 18px;
      font-weight: 400;
    }
  }
  &__btn {
    padding-top: 55px;
    padding-bottom: 105px;
    text-align: center;
    color: white;
    &-text {
      padding: 23px 43px;
      background-color: white;
      color: $bottom;
      font-size: 16px;
      border-radius: 25px;
      cursor: pointer;
    }
  }
}

//end ready
//start footer

.footer {
  background-color: #262b30;
  padding-top: 120px;
  padding-bottom: 120px;
  &__wrapper {
    display: flex;
    justify-content: space-between;
  }
  .holder__title {
    margin-bottom: 30px;
    color: white;
    font-size: 18px;
    font-weight: 400;
  }
  .holder__list-link {
    font-size: 15px;
    color: #88898a;
  }
  .holder__list-item + .holder__list-item {
    margin-top: 20px;
  }
  .holder__adress {
    max-width: 275px;
    width: 100%;
    font-size: 15px;
    line-height: 26px;
    color: #88898a;
    &-item {
      margin-bottom: 7px;
    }
    &-phone {
      padding-left: 30px;
      position: relative;
      color: #88898a;
    }
    &-phone::before {
      content: url(../images/footer/phone.png);
      position: absolute;
      left: 0;
    }
    &-envelope {
      padding-left: 30px;
      position: relative;
      color: #88898a;
    }
    &-envelope::before {
      content: url(../images/footer/envelope.png);
      position: absolute;
      left: 0;
    }
    &-map {
      position: relative;
      padding-left: 30px;
    }
    &-map::before {
      content: url(../images/footer/map-marker.png);
      position: absolute;
      left: 0;
      top: 10px;
    }
  }
}

.holder__news {
  max-width: 375px;
  width: 100%;
  &-title {
    margin-bottom: 30px;
    color: white;
    font-size: 18px;
    font-weight: 400;
  }
  &-text {
    font-size: 15px;
    line-height: 26px;
    color: #88898a;
    margin-bottom: 35px;
  }
  &-form {
    margin-bottom: 35px;
    position: relative;
    input {
      width: 100%;
      height: 50px;
      border-width: 1px;
      border-color: #d9dfe5;
      border-style: solid;
      border-radius: 22px;
      padding-left: 17px;
      padding-right: 75px;
      outline: none;
      
    }
    button {
      position: absolute;
      border: none;
      background-color: #0674ec;
      right: 0px;
      top: 0px;
      height: 50px;
      width: 109px;
      border-radius: 22px;
      color: white;
    }
  }
  .social-link {
    margin-right: 15px;
  }
}

//end  footer
//start copy


.copyright-text {
  padding: 40px 0px;
  text-align: center;
  background-color: #192027;
  color: #88898a;
  span {
    color: white;
  }
}

//end copy